body {
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.navbar {
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 100;
}

.logo {
    height: 50px !important;
}

.space {
    height: 100px !important;
}

.book-detail-container {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    max-width: 1400px;
    padding: 50px;
    margin: 70px;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.book-detail-card {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.book-detail-info {
    margin-left: 30px;
}

h2 {
    margin-bottom: 20px;
}

.book-detail-img img {
    width: 250px;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {

    .book-detail-card {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .book-detail-container {
        margin-top: 10px;
        margin: 5vh;
        padding: 2vh;
    }

    .book-detail-info {
        margin-top: 2vh;
        margin: 5vw;
    }

    .book-detail-img{
        margin-top: 5vw;
    }

    .space{
        height: 65px !important;
    }

}